<form [formGroup]="assessementForm">

<div id="section1" class="section">
    <h2 class="section-heading"> Java Online Assessement </h2>
    <p class="question challengeFont">
      {{question.questionDescription}}
    </p>
    <div *ngIf="choicesLoaded">
    <div formArrayName="aliases" *ngFor="let choice of aliases.controls; let i=index">
      <div class="answer challengeFont" [formGroupName]="i">
        <!-- <input type="checkbox" name="optionCheckBox" checked="checked" value="selected">
                  <label for="optionCheckBox">Option 1</label> -->
        <label class="container">{{choice.get('choiceDesc').value}}
          <input type="checkbox" checked="checked" value="selected" formControlName="option">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
    <div class="button-group-right">
      <button class="button save-button" (click)="nextQuestion()">Next</button>
    </div>
  </div>
</form>  