<footer>
  <ul class="footer">
      <li class="footer">
          <a href="#" target="_blank">About Us</a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">Solutions</a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">Question Contributor</a>
      </li>
  </ul>
  <ul class="footer">
      <li class="footer">
          <a href="#" target="_blank">Contact Us</a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">vijay.nagarajan4283@gmail com
          </a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">Question Contributor</a>
      </li>
  </ul>
  <ul class="footer">
      <li class="footer">
          <a href="#" target="_blank">Privacy Policy</a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">Terms of Service
          </a>
      </li>
      <li class="footer">
          <a href="#" target="_blank">Cookie Policy</a>
      </li>
  </ul>
  <div>
      <div class="logo">
          MeritTracker
      </div>
      <div class="copyrighttext">
          <a href="#" class="fa fa-copyright"></a>2018-2022 Shreyvs Technologies INC
      </div>
      <div class="icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
      </div>
  </div>
</footer>