<!-- Manage Questions modal start -->
<form [formGroup]="questionForm">

	<div class="modal" [ngClass]="{'active':activateModal}">
		<div class="modal-content">
			<div class="close" (click)="closeModal()">&times;</div>
			<!-- Question -->
			<div class="row">
				<div class="form-group offset-1">
					<label for="question">Question</label>
					<textarea  rows="4" cols="100" id="question" name="question" formControlName="question" class="form-control" placeholder="Question name.."></textarea>
				</div>
			</div>
			<!-- Answer -->
			<div class="row">
				<div class="form-group">
					<!-- <label for="answer">&nbsp;</label> -->
					<button class="button repeat-button" (click)="addAlias()">Add</button>
				</div>

			</div>

			<div formArrayName="aliases" *ngFor="let option of aliases.controls; let i=index">
				<div class="row" [formGroupName]="i">
					<div class="form-group offset-1">
						<label for="option">Option</label>
						<textarea rows="4" cols="50" id="option" name="option" formControlName="choice" class="form-control" placeholder="Enter possible choices.."></textarea>
					</div>
					<div class="form-group offset-by-5">
						<label class="container" style="--container-left-pos:2px">Answer
							<input type="checkbox" checked="checked" value="selected" formControlName="answer">
							<span class="checkmark" style="--checkmark-left-pos:10px;--checkmark-top-pos:20px"></span>
						</label>
					</div>
					<div class="form-group offset-by-4">
						<label for="answer">&nbsp;</label>
						<button class="button repeat-button" (click)="onDelete(i)">Delete</button>
					</div>
				</div><!-- </div> -->
			</div>
			<button class="button signup-button" [disabled]="!questionForm.valid" (click)="onSubmit()">Submit</button>
		</div>

	</div>
</form>

