<ul class="vertical" id="navigationPanel" *ngIf="varDisplayPanel">
    <li class="vertical">
        <!-- <a href="#manageTests" id="manageTests">Manage Tests</a> -->
        <a id="manageTests" style="cursor: pointer" (click)="navigateTo('viewtests')">Manage Tests</a>
    </li>
    <li class="vertical">
        <!-- <a href="#advancedSearch" id="advancedSearch">Advanced Search</a> -->
        <a id="advancedSearch">Advanced Search</a>
    </li>
    <li class="vertical">
        <a style="cursor: pointer" id="candidateDirectory" (click)="navigateTo('candidatedirectory')">Candidate
            Directory</a>
    </li>
    <li class="vertical">
        <a style="cursor: pointer" id="resultsEvaluation">Results Evaluation</a>
    </li>
    <li class="vertical">
        <a href="#assignTests" id="assignTests">Assign Tests</a>
    </li>
</ul>
