<div id="main-screen" class="main-screen">

  <div class="form-container-wrapper">

    <div class="form-container">

      <div id="section1" class="section">
        <h2 class="section-heading"> Online Assessement </h2>
        <p class="question challengeFont">
          1. Given an array of Player objects, write a comparator that sorts them in order of decreasing score; if or
          more players
          have the same score, sort those players alphabetically by name. To do this, you must create a Checker
          class that implements the Comparator interface, then write an int compare(Player a, Player b) method
          implementing the Comparator.compare(T o1, T o2) method.

        </p>
        <p class="question challengeFont">
          1. Given an array of Player objects, write a comparator that sorts them in order of decreasing score; if or
          more players
          have the same score, sort those players alphabetically by name. To do this, you must create a Checker
          class that implements the Comparator interface, then write an int compare(Player a, Player b) method
          implementing the Comparator.compare(T o1, T o2) method.

        </p>
        <div class="button-group-right">
          <button class="button save-button">Next</button>
        </div>
      </div>

    </div>

    <div class="form-container">

      <div id="section1" class="section">
        <h2 class="section-heading"> Online Assessement </h2>
        <p class="question challengeFont">
          1. Given an array of Player objects, write a comparator that sorts them in order of decreasing score; if or
          more players
          have the same score, sort those players alphabetically by name. To do this, you must create a Checker
          class that implements the Comparator interface, then write an int compare(Player a, Player b) method
          implementing the Comparator.compare(T o1, T o2) method.

        </p>
        <p class="question challengeFont">
          1. Given an array of Player objects, write a comparator that sorts them in order of decreasing score; if or
          more players
          have the same score, sort those players alphabetically by name. To do this, you must create a Checker
          class that implements the Comparator interface, then write an int compare(Player a, Player b) method
          implementing the Comparator.compare(T o1, T o2) method.

        </p>
        <div class="button-group-right">
          <button class="button save-button">Next</button>
        </div>
      </div>

    </div>    
  </div>

</div>