.test_info {
	color: green;
	margin: 5px;
}

.test_info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button.save-button.search-button {
	width: 100%;
}

.button.create {
    margin: 10px 0px;
    width: 35%;
    color: white;
    background-color: green;
}

.button.create:hover {
    color: rgb(128, 128, 128,0.8);
    box-shadow: 5px 5px rgb(128, 128, 128,0.4) ;
    /* box-shadow: 5px 5px #ddd ; */
}