.summary-card {
    width: 200px;
    float: left;
    left: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 0px;
	border: 1px solid rgb(194, 185, 185);
    background-color: white;
	position: relative;
}

.summary-card > .card:last-child {
	background-color: rgb(221, 131, 131);
}

.summary-card > .card {
	width: auto;
}

div.center {
	text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;    
}
/* :horizontal navigation bar */

ul.horizontal {
    /* list-style-type: none; */
    margin: 0px 0px 10px 0px;
    /* padding: 0; */
    width: 100%;
    display: inline-block;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 10;
}

ul.horizontal li {
     margin: 0;
     display: inline;
}

li.horizontal a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.5px 16px;
    margin: 10px 0px;
    text-decoration: none;
   	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
}	

li.horizontal a:hover {
 
    /* margin-bottom: 2px;
    border-bottom: 4px solid;
    border-bottom-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; */
    text-decoration-line: underline;
    cursor: pointer;
 }


.button {
    background-color: white; /* Green */
    border: 1px solid green;
    color: green;
	width: 100%;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}

button:disabled {
    background: #dddddd;
}

.button.save-button {
	width: 25%;
	padding: 10px 5px;
	border-radius: 5px;
    /* text-align: center; */
    margin: 5px;
}

.button:hover,.button.selected {
    background-color: green;
    color: white;
}

div.section {
	margin: 20px;
	/* background-color: #f2f2f2; */
	background-color: white;
	border: 1px solid #A9A9A9;
	border-radius: 5px;	
	box-shadow: 0 4px 8px 0 #ddd, 0 6px 20px 0 #ddd;
    padding: 10px 10px 10px 10px; 
}

.button-group-right {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.button-group-center {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 5%;
    /* width: 40%; */
}



.tooltip .tooltiptext {
    visibility: hidden;
    color: white;
    background-color:green;
    z-index: 20;
    position: absolute;
    /* top:12px; */
    top:0px;
    /* left:10px; */
    left:25px;
    padding: 2px;    
    text-align: center; 
    border-radius: 5px;
    font-size: 16px;

}

.tooltip:hover {
    cursor: pointer;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.main-screen {
    /* position: absolute;
    left: 7%; */
    display: flex;
}


