.section.disclosure {
    z-index: 1;
    position:relative;
    /* width: 200px; */
    height: 200px;
    overflow: auto;
    text-align: justify;
}

.section.disclaimer {
    position: fixed;
    z-index: 2;
}

.disclosureFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.acceptDisclosure {
    margin: 20px;
}