div.form-group {
	/* margin */
	width: 45%;
	margin-top: 0%;
	margin-bottom: 1%;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

div.form-group.offset-1 {
	width: 55%;
}

div.form-group.offset-2 {
	width: 65%;
}

.form-group.offset-by-3{
	width: 34%;
}

.form-group.offset-by-4{
	width: 15%;
}

.form-group.offset-by-5{
	width: 7%;
}

div.form-group > label{
	font-size: 14px;
	font-style: Sans;
	font-weight: 600;	
	width: 100%;
	/* display: block; */
}

div.row {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	align-items: flex-start;
	}

div.form-group > .form-control{
	display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;	
}

div.form-container-wrapper {

	top: 50px;
	/* left: 300px; */
	left: 25%;
	width: 60vw;
	/* width: 60%; */	
	/* width: 1050px; */
	margin: 10px;
	padding: 10px;
	margin-bottom: 300px;
	/* position: relative; */
	position: absolute;

}
/* 768 */
/* On screens that are 1272px to 1627px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
	div.form-container-wrapper {
		left: 6%;
		width: 650px;
	}
  }

/* On screens that are 1272px to 1627px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 769px) and (max-width: 1121px) {
	div.form-container-wrapper {
		/* left: 6%; */
		width: 650px;
	}
  }  

/* On screens that are 1272px to 1627px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 1122px) and (max-width: 1268px) {
	div.form-container-wrapper {
		width: 775px;
	}
	div.section {
		padding-left: 15px;
	}	
  }

/* On screens that are 1272px to 1627px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 1269px) and (max-width: 1480px) {
	div.form-container-wrapper {
		/* width: 650px; */
		width: 775px;
	}	
	div.section {
		padding-left: 15px;
	}		
  }

/* On screens that are 1272px to 1627px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 1480px) {
	div.form-container-wrapper {
		/* width: 650px; */
		width: 1000px;
	}	
	div.section {
		padding-left: 15px;
	}		
  }


/* On screens that are 1628px to 1974px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 1628px) and (max-width: 1974px) {
	div.form-container-wrapper {
		width: 986px;
	}	
	div.section {
		padding-left: 15px;
	}		
  }

/* On screens that are 1628px to 1974px wide, make the menu links stack on top of each other instead of next to each other */
@media screen and (min-width: 1975px) {
	div.form-container-wrapper {
		/* width: 1187.39px; */
		width: 1190.39px;
	}	
	div.section {
		padding-left: 15px;
	}		
  }  




div.form-container {
	z-index: 1;
	position: relative!important;
}
