<div class="form-container-wrapper">
  <div class="form-container">
    <div id="section1" class="section disclaimer">
      <h2 class="section-heading"> Accept Terms and Conditions before proceeding with Test</h2>
      <div class="section disclosure disclosureFont">
        Disclaimers have a long legal history. They generally have two purposes: To warn To limit liability A warning
        sign is likely
        the earliest and easiest manifestation of a disclaimer. “No trespassing” alerts passing individuals
        that they are near a private land boundary and also excuses the landowner of some liability if people
        visit uninvited. Sometimes, the warning and limitation of liability are based on statutory law. For
        example, the state of Washington in the United States has a law that prevents people injured at equestrian
        facilities from pursuing legal damages. Any business that boards, trains or allows the riding of
        horses has to have a specific sign to enjoy this protection from liability. This sign acts as a disclaimer
        much like a “No trespassing” sign in that it informs and specifies limits on facility responsibilities:
        To warn To limit liability A warning sign is likely the earliest and easiest manifestation of a disclaimer.
        “No trefdgdf Any business that boards, trains or allows the riding of horses has to have a specific
        sign to enjoy this protection from liability. This sign acts as a disclaimer much like a “No trespassing”
        sign in that it informs and specifies limits on facility responsibilities: To warn To limit liability
        A warning sign is likely the earliest and easiest manifestation of a disclaimer.
        <br> This sign acts as a disclaimer much like a “No trespassing” sign in that it informs and specifies
        limits on facility responsibilities: To warn To limit liability A warning sign is likely the earliest
        and easiest manifestation of a disclaimer.
        <br> W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve
        reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid
        errors, but we cannot warrant full correctness of all content. While using this site, you agree to
        have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2018 by Refsnes
        Data. All Rights Reserved.
      </div>
      <div class="acceptDisclosure disclosureFont">
        <input type="checkbox" id="acceptDisclosure" name="acceptDisclosure" value="true">
        <label for="acceptDisclosure">I agree to Shreyavs Technologies Inc terms and conditions</label>
      </div>
      <div class="button-group-center">
        <button class="button save-button" (click)="onSubmit()">Start Test</button>
      </div>
    </div>
  </div>
</div>